<a href="https://colab.research.google.com/github/Surajit10/Web-Scraping-With-BeautifulSoup/blob/main/Beautifulsoap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
html_content = """<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>


<div class="content">
<p class="first">First para</p>
<p class="second">second para</p>
<a href="www.xyz.com" id="link1">Link1</a>
<a href="www.abc.com" id="link2">Link2</a>
</div>


</body>
</html>"""

In [ ]:
soup = BeautifulSoup(html_content,'html.parser')

In [ ]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h1>
   This is a Heading
  </h1>
  <p>
   This is a paragraph.
  </p>
  <div class="content">
   <p class="first">
    First para
   </p>
   <p class="second">
    second para
   </p>
   <a href="www.xyz.com" id="link1">
    Link1
   </a>
   <a href="www.abc.com" id="link2">
    Link2
   </a>
  </div>
 </body>
</html>

In [ ]:
soup.title

In [ ]:
soup.title.string

'Page Title'

In [ ]:
soup.title.text

'Page Title'

In [ ]:
soup.h1

In [ ]:
soup.title.parent.name

'head'

In [ ]:
soup.div

<div class="content">
<p class="first">First para</p>
<p class="second">second para</p>
<a href="www.xyz.com" id="link1">Link1</a>
<a href="www.abc.com" id="link2">Link2</a>
</div>

In [ ]:
for child in list(soup.div.children):
  print(child.string)

First para


second para


Link1


Link2

In [ ]:
soup.p

In [ ]:
soup.find("p",class_="first").string

'First para'

In [ ]:
plist = soup.find_all("p")
for item in plist:
  print(item.string)

This is a paragraph.
First para
second para

In [ ]:
import requests

In [ ]:
page=requests.get("https://www.flipkart.com/mobiles/apple~brand/pr?sid=tyy,4io&cmpid=sem_3856208402_Mobiles_dsa_goog&gclid=Cj0KCQiA7oyNBhDiARIsADtGRZYlSGNRzLumpuIvz4pk1J6-ta4lLUxwMIrwNcpkU8QY1KcT-wroy5AaAtrzEALw_wcB")

In [ ]:
page

In [ ]:
soup=BeautifulSoup(page.content,"html.parser")

In [ ]:
mobiles=soup.find_all("div",class_="_3pLy-c row")

In [ ]:
print(len(mobiles))

24

In [ ]:
names=[]
price=[]
front_camera=[]


for mobile in mobiles:
  name=mobile.find("div",class_="_4rR01T").text
  names.append(name)
  prices=mobile.find("div",class_="_30jeq3 _1_WHN1").text
  price.append(prices)
  ul=soup.find("ul",class_="_1xgFaf")
  camera=ul.find_all("li")[2].text
  fc=camera.split(" | ")[1].split(" ")[0]
  front_camera.append(fc)

In [ ]:
import pandas as pd
dic = {"names":names,
       "prices":price,
       "front_camera":front_camera}
df = pd.DataFrame(dic)
df.head()

                                   names   prices front_camera
0         APPLE iPhone SE (White, 64 GB)  ₹29,999          7MP
1         APPLE iPhone SE (Black, 64 GB)  ₹29,999          7MP
2         APPLE iPhone 12 (Black, 64 GB)  ₹56,999          7MP
3  APPLE iPhone 12 Mini (Purple, 128 GB)  ₹49,999          7MP
4         APPLE iPhone 12 (Blue, 128 GB)  ₹62,999          7MP

In [ ]:
df.to_csv("mobile_info.csv")